body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

#header {
    background-color: #124076;
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 50%);
    text-align: center;
    color: white;
    margin: 0;
    padding: 0.2rem 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5)
}

#appViewScroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.appContainer img{
    flex: 1 1 500px;
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 50%);
    border-radius: 20px;
}