body{
    font-family: Roboto, sans-serif;
    background-color: #F6FFF8;
}

.row{
    margin: 0;
}

#intro{
    height: 50vh;
}

#header {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 50%);
}

#footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 50%);
}

#footer a{
    text-decoration: none;
    margin: 10px;
}

#header img, a{
    max-width: 100px;
}

.appContainer img{
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 50%);
    border-radius: 20px;
    max-width: 500px;
    margin-top: 30px;
}

.appContainer p {
    font-size: 20px;
    margin-top: 10px;
}